{% extends 'User/UserHome.html' %}
{% block content %}
<section class="w3l-inner-banner-main">
    <div class="about-inner contact">
        <div class="breadcrumbs-sub">
            <ul class="breadcrumbs-custom-path">
                <li class="right-side propClone"><a href="index.html" class="editContent"></a> <p></li>
                <li class="active editContent">
                    </li>
            </ul>
            </div>
</div>
</div>
</section>
<section class="w3l-contact-info-main" id="contact">
    <div class="contact-sec	editContent">
        <div class="container">

            <div class="d-grid contact-view">

                <div class="cont-details">
                    <h3 class="sub-title">Contact Us</h3> 
                    <div class="cont-top">
                        <div class="cont-left text-center">
                            <span class="fa fa-phone text-secondary"></span>
                        </div>
                        <div class="cont-right">
                            <p class="para"><a href="tel:+91 701 223 2435">+(91)-934-333-8888</a></p>
                        </div>
                    </div>
                    <div class="cont-top margin-up">
                        <div class="cont-left text-center">
                            <span class="fa fa-envelope-o text-secondary"></span>
                        </div>
                        <div class="cont-right">
                            <p class="para"><a href="mailto:example@mail.com" class="mail">abin2005@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="cont-top margin-up">
                        <div class="cont-left text-center">
                            <span class="fa fa-map-marker text-secondary"></span>
                        </div>
                        <div class="cont-right">
                            <p class="para">Beyond Border,Pulpally
                                <br>Wayanad
                                <br>Kerala</p>
                        </div>
                    </div>
                </div>
                
                <div class="map-iframe ">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31244.98708887722!2d76.15855901293139!3d11.79154590923263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba5e16f5a3d78bf%3A0xbde53e7f53775815!2sPulpally%2C%20Kerala%20673579!5e0!3m2!1sen!2sin!4v1720142687023!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}